* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./res/backgroundForest.png");
  background-size: cover;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

iframe {
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  width: 80%;
  padding: 10px;
  color: rgb(221, 212, 199);
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(28, 24, 20, 0.5);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.container {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;
}

h1 {
  display: block;
  margin: 20px;
  text-align: center;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px rgb(221, 212, 199);
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.crow {
  width: 500px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
  background-image: url("res/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  margin: 16px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.sample-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(28, 24, 20, 0.5);
  max-height: 300px;
  margin: 16px;
}

.sample-icon:hover,
input:hover {
  background-color: #4d406b;
  cursor: pointer;
}

li {
  width: 90%;
  align-content: flex-end;
  margin: 15px;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(28, 24, 20, 0.8);
  border-radius: 16px;
  list-style: none;
  color: rgb(221, 212, 199);
  border: 2px solid rgb(221, 212, 199);
  box-shadow: 2px rgb(221, 212, 199);
}

#sample-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sample-icon {
  width: 60px;
  margin: 10px;
  font-size: 15px;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(28, 24, 20, 0.8);
  border-radius: 16px;
}

.details_container,
.page_info_container {
  text-align: justify;
  max-height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  overflow: overlay;
}

.info {
  margin: 10px;
  background-color: rgba(28, 24, 20, 0.5);
  font-size: 14px;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.video {
  text-align: center;
  padding: 20px;
}

form {
  text-align: center;
}

.space {
  display: block;
  margin: 10px;
}

.color {
  height: 300px;
  margin: 20px;
  background-color: #6b5b95;
  background-image: url("../src/res/keyboard\ qweasdzxc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  border-radius: 16px;
  border: 4px solid rgba(28, 24, 20, 0.8);
  text-align: center;
  padding: 20%;
  font-weight: bold;
}

.youtube-info-container {
  min-height: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.app-info,
.change-preset {
  height: 150px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  overflow: overlay;
}

.app-info:hover,
.change-preset:hover {
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}

.app-info:before,
.change-preset:before {
  content: "";
  display: block;
  position: relative;
  width: 0px;
  border-top: 40px solid #d1d1cd;
  border-right: 40px solid transparent;
}

/* This cute selector refferes to the email form wrapper. */

body > div > div.page_info_container > p:nth-child(2) > div:nth-child(6) > p,
body > div > div.page_info_container > div {
  background-color: #6b5b95;
  border-radius: 16px;
  border: 4px solid rgba(28, 24, 20, 0.8);
  text-align: center;
}

.app-info {
  background-image: url("./res/InfoLogo.png");
}

.change-preset {
  background-image: url("./res/RefreshLogo.png");
}

.no_display {
  display: none;
}

@media only screen and (max-width: 760px) {
  .container {
    flex-direction: column;
    padding: 0;
    max-height: 200vh;
  }
  .crow,
  .details_container,
  .page_info_container {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-position: center;
  }
  .color {
    margin: 3px;
    border-radius: 0;
  }
}
