* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./res/backgroundForest.png");
  background-size: cover;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

iframe {
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

/* Scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input {
  width: 80%;
  padding: 10px;
  color: rgb(221, 212, 199);
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(28, 24, 20, 0.5);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}



.container {
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;
}

h1, a {
  display: block;
  margin: 20px;
  text-align: center;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px rgb(221, 212, 199);
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}


.crow {
  width: 500px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
  background-image: url("res/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  margin: 16px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.sample-listing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(28, 24, 20, 0.5);
  max-height: 300px;
  margin: 16px;
}

.sample-icon:hover,
input:hover {
  background-color: rgba(75, 71, 67, 0.5);
  cursor: pointer;
}

li {
  width: 90%;
  align-content: flex-end;
  margin: 15px;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(28, 24, 20, 0.8);
  border-radius: 16px;
  list-style: none;
  color: rgb(221, 212, 199);
  border: 2px solid rgb(221, 212, 199);
  box-shadow: 2px rgb(221, 212, 199);
}

#sample-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sample-icon {
  width: 60px;
  margin: 10px;
  font-size: 15px;
  line-height: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(28, 24, 20, 0.8);
  border-radius: 16px;
  transition: 0.3s;
}

.details_container,
.page_info_container {
  text-align: justify;
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  overflow: overlay;
}

.info {
  margin: 10px;
  background-color: rgba(28, 24, 20, 0.5);
  font-size: 14px;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.video {
  text-align: center;
  padding: 20px;
}

form {
  text-align: center;
}

/* This selector is for the arrow before the email form. */
form::before {
  content: "";
  display: inline;
  position: relative;
  right: 20px;
  width: 0px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;  
  border-left: 20px solid #d1d1cd;
  transition: 0.3s;
}

form::after {
  content: "";
  display: inline;
  position: relative;
  left: 20px;
  width: 0px;
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;  
  border-right: 20px solid #d1d1cd;
  transition: 0.3s;
}

form:hover:after {
  border-right: 20px solid rgba(28, 24, 20, 0.8);
}

form:hover:before {
  border-left: 20px solid rgba(28, 24, 20, 0.8);
} 

.space {
  display: block;
  margin: 10px;
}

/* Note that this class is also changed by REACT in SamplePlayer/1/2 ect. 
the color changes with the presests. */

.color {
  max-height: 300px;
  margin: 10px;
  background-color: #6b5b95;
  border-radius: 10px;
  border: 4px solid rgba(28, 24, 20, 0.8);
  text-align: center;
  padding: 30px;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  border: 2px solid rgba(28, 24, 20, 0.8);
}

.youtube-info-container {
  min-height: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.app-info,
.change-preset {
  height: 150px;
  width: 150px;
  background-color: rgb(255, 255, 255);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  overflow: overlay;
  transition: 0.3s;
}

.app-info:hover,
.change-preset:hover {
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(170, 170, 170);
  background-size: 60%;
}

.app-info:before {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  border-top: 40px solid #d1d1cd;
  border-right: 40px solid transparent;
  transition: 0.3s;
}

.app-info:hover {
  border-radius: 0 0 0 16px;
}

.app-info:hover:before {
  border-top: 40px solid #444443;
}

/* This cute selector refferes to the video wrapper. */

body > div > div.page_info_container > p:nth-child(2) > div:nth-child(6) > p,
body > div > div.page_info_container > div > div {
  background-color: #6b5b95;
  border: 4px solid rgba(28, 24, 20, 0.8);
  text-align: center;
}

.app-info {
  background-image: url("./res/InfoLogo.png");
  padding: 15px;
}

.change-preset {
  max-height: 100px;
  box-sizing: content-box;
  padding: 15px;
}

body > div > div.youtube-info-container > div:nth-child(2):hover {
  background-color: #6b5b95;
  border-radius: 16px 0 0 0;
}

body > div > div.youtube-info-container > div:nth-child(3):hover {
  background-color: #bd8730;
  border-radius: 0 16px 0 0;
}

body > div > div.youtube-info-container > div:nth-child(4):hover {
  background-color: #5e8a30;
  border-radius: 0 0 16px 0;
}

/* below are the preset Router links. */
body > div > div.youtube-info-container > div:nth-child(2):hover > a,
body > div > div.youtube-info-container > div:nth-child(3):hover > a,
body > div > div.youtube-info-container > div:nth-child(4):hover > a {
 /* color: #d1d1cd; */
text-shadow: none;
font-weight: bold;
}

a {
 text-decoration: none;
 text-align: center;
 margin-top: 20px;
 text-shadow: none;
 font-weight: bold;
 border-radius: 0 16px 0 16px;
 transition: 0.3s;
}

a:hover {
  border-radius: 16px 0 16px 0;
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}


.no_display {
  display: none;
}

@media only screen and (max-width: 760px) {
  .container {
    flex-direction: column;
    padding: 0;
    max-height: 200vh;
  }
  .crow,
  .details_container,
  .page_info_container {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-position: center;
  }
  .color {
    margin: 3px;
    border-radius: 0;
  }
}
